@media screen and (max-width:600px){
#container{

		width:599px;
}
#main
{
	width:599px;
}


#searchbox{

	width:799px;
}
.wrapper{
	margin-left:87px;
	width:205px;
	
	}
	#main
	{
		width:599px;
		}
	
	
	#search{
	
	width:199px;
	
	}
	.seraching
	{
	width:95px;	
	}
	
	.con{
		width:600px;
		}
		.menu1:hover{
			width:160px;
			}
				.menu2:hover
						{
			width:160px;
						}
							.menu3:hover
										{
			width:150px;
										}
			
									.menu4:hover
												{
													width:150px;
												}
											.menu5:hover{
					width:150px;
														}
														
															#self{
																
															width:799px;	
																
																}
																
																	#sidenav{
																		width:260px;
																		margin-top:75px;
																		margin-left:-300px;
																		
																		}
																		#content
																		{
																			
																		margin-top:45px;
																		width:599px;
																		margin-right:31px;
																		height:auto;
																			}
																			#wowslider-container1{
																				
																					top: 10%;
																					width:400px;
																								
																					}
																					
																					#wowslider-container1 .ws_images
																					
																						{
																							width:298px;
																							margin-left:289px;
																							}
																							
																				.itemcon{
																					width:599px;
																					/*margin-left:220px;
																					scroll-x:none;*/
																					
																					}
																		.itemhead
																		{
																			width:599px;
																				
																				
																		}
																	.block3
																	{
																		margin-top:-49%;
																		margin-right:28%;
																		
																	}
																block1{
																		margin-left:
																		
																	  }
															#footer
															{
																width:799px;
																height:700px;
																
																}
													.block2
													{
																		margin-top:-49%;
																		margin-right:56%;
																		margin-left:5%;
																		
													}
										.paypartners
										{
										margin-left:2%;
											}
											
							.Newsletter
										{
											margin-top:-2%;
											margin-left:3%;
											margin-right:-16%;
										}
			.imgubl
			{
			margin-right:76%;
			margin-top:-38%;	
			}
			
		.imgup
		
		{
			margin-right:80%;
			margin-top:-38%;
		}
		
			.imgvmp
			{
				margin-top:-38%;
				margin-right:54%;
				}
				
			.mob1
			{
				margin-left:0px;
				
				}
		.mob2
		{
			
			margin-right:187px;
			margin-top:-426px;
			
			}
			
				.mob3
		{
			
			margin-right:-19px;
			margin-top:-426px;
			}
											.
			.mob4
		{
			
			margin-left:0px;
			
			}
			
			
			.mobup
		{
			
			margin-left:0px;
			
			}
			
				.mob5
				{
					
					margin-right:169px;
					margin-top:-405px;
					margin-right:187px;
					}
							
							.mob6
				{
					
					margin-right:-411px;
					}




}

