@media screen and (max-width:800px)and (min-width:500px){

#searchbox{

	width:799px;
}
.wrapper{
	margin-left:87px;
	
	}
	
	.con{
		width:799px;
		}
		.menu1:hover{
			width:160px;
			}
				.menu2:hover
						{
			width:160px;
						}
							.menu3:hover
										{
			width:150px;
										}
			
									.menu4:hover
												{
													width:150px;
												}
											.menu5:hover{
					width:150px;
														}
														
															#self{
																
															width:799px;	
																
																}
																
																#sidenav{
																width:260px;
																		
																		
																		}
															#wowslider-container1{
																				
																	top: -316px;
																	width:400px;
																								
																				}
																					
															#wowslider-container1 .ws_images
																					
																	{
																	width:498px;
																	margin-left:289px;
																	}
																							
																.itemcon{
														width:799px;
														margin-left:30px;
																					
																		}
																.itemhead
																{
																width:790px;	
																				
																}
																	.block3
																	{
																		margin-top:-49%;
																		margin-right:12%;
																		
																	}
																block1{
																		margin-left:
																		
																	  }
															#footer
															{
																width:799px;
																height:700px;
																
																}
													.block2
													{
																		margin-top:-49%;
																		margin-right:44%;
																		margin-left:5%;
																		
													}
										.paypartners
										{
										margin-left:2%;
											}
											
							.Newsletter
										{
											margin-top:-2%;
											margin-left:3%;
											margin-right:-25%;
										}
			.imgubl
			{
			margin-right:76%;
			margin-top:-12%;	
			}
			
		.imgup
		
		{
			margin-right:84%;
			margin-top:-29%;
		}
		
			.imgvmp
			{
				margin-top:-29%;
				}
											
															






}





